/*  CSS : SLIDER PART*/
#slider {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.slider_img{
  width: 100%;
}

#precedent,
#suivant {
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0;
  position: absolute;
  font-size: 100px;
  color: rgba(220, 220, 220, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}

#precedent {
  left: 0;
}

#suivant {
  right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
  opacity: 1;
}
/* CSS : END SLIDER */

h2{
  font-weight: 600;
  font-size: 2.571em;
  line-height: 1.166;
  color: #000;
  letter-spacing: 0;
}

strong{
    display: flex;
    flex-direction: column;
    display: inline-block;
    font-weight: 500;
    font-size: 1.142em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #cee002;
    margin-bottom: 1rem;
}

body {
  background-color: white;
  font-family: poppins,sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .025em;
  line-height: 2.1428;
  color: #666;
}

  .wrapper{
    display: flex;
    flex-direction: column;
    padding:1.5em 3em 0em 3em;
  }

  header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
  }

    .bloc_telephone{
      width: 100%
      justify-content: right;
    }

    .liste_reseaux{
      display: flex;
      justify-content: space-between;
    }

      .icon{
        margin: 0.7rem;
      }

    .space_bar {
      float: right;
      margin: -1rem 4.5rem 0;
      width: 1px;
      height: 3.3rem;
      background-color: #e0e0e0;
    }

.slider-container{
/*  width: 100%;*/
}
  .slider_pic{
    width: 100%;
  }

.about_bloc{
  display: flex;
  flex-direction: row;
  padding-top: 10em;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
  .about_gauche{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15em;
    padding-bottom: 6em;
    max-width: 40em;
  }

  .about_title{
    width: 100%;
    justify-content: left;
  }

   .about_droite{
    max-width: 30em;
    width: 100%;
   }

     .about_pic{
      width: 100%;
     }

.projects_bloc{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10em;
}

  .projects_bandeau{
    display: flex;
    flex-direction: row;  
    justify-content: center;
    max-width: 100em;
    flex-wrap: wrap;
  }

  .projects_subtitle{
    padding-top: 1em;
    padding-right: 10em;
  }

  .projects_bandeau_droite{
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    flex-wrap: wrap;
  }

    .droite_first_part{
      font-weight: bold;
      color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

      .liens_projects{
        color: inherit;
        text-decoration: none;
        padding: 2em;
      }

      .all{
        color: #cee002;      
      }

      .view_all{
        font-style: italic;
      }

  .galerie{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2em;
  }

    .galerie_pic{
      width: auto;
      padding-bottom: 2em;
    }

.clients_bloc{
  padding: 10em 0 3em 0;
  width: 100%;
  justify-content: space-around;
  background-color: lightgrey;
}

.clients_content{
  padding-top: : 10em 0em 0em 3em;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

 .clients_subtitle{
  padding-left: 2em;
 }

  .one_client{
    padding: 5em;
    max-width: 30em;
    background-color: white;
  }
    .client_name{
      font-weight: bold;
    }
    .client_pic{
      float: left;
      border-radius:50px;
      margin-right: 2em;
    }

.section_partenaires{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 6em;
  background-color: lightgrey;
}
  .partenaire_pic{
    padding: 3em;
  }

.news_bloc{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 7em;
  border-bottom-style: groove;
}


  .news_galerie{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2em;
  }

    .news_title{
      padding-left: 4em;
    }

    .news_pic{
      padding: 0em 1em 1em 4em ;
    }

footer{
  padding-top: 7em;
  padding-bottom: 7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%
}
  footer .brand, footer .rights{
    padding-top: 1em;
  }
  .footer_row{
  display: flex;
  flex-direction: column;
  line-height: 1.71;
  }

  li a{
    color: inherit;
    text-decoration: none;
  }

  li{
    list-style: none;
  }